# База данных Neon
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# JWT секрет (минимум 32 символа)
AUTH_SECRET="ukan-super-secret-min-32-chars-here"

# URL сайта
NEXTAUTH_URL="https://ulkan.vercel.app"
